:root {
    --white-text: white;
    --black-text:black;
    --grey-text:#777777;
    --primary-color:rgb(255,165,0);
    --height-header:74px;
    --white-background: white;
}

* {
    box-sizing: inherit;
    transition:inherit;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    line-height: 2.0rem;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    transition: all 0.2s linear;
}


.button {
    font-size: 1.7rem;
    color:var(--white-text);
    background-color: var(--primary-color);
    padding: 8px 30px;
    margin-top:10px;
    display:inline-flex;
    height: 43px;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    cursor: pointer;
}

.button--full {
    width:100%;
}

.button:hover {
    color:var(--primary-color);
    background-color: rgba(255,165,0, 0.2);
    border:2px solid var(--primary-color) ;
}

.letter {
    font-size: 3.5rem;
    display: inline-flex;
    align-items: center;
    background-color: rgb(255,237,204);
    height: 51px;
    color: var(--primary-color);
    padding: 2px 10px;
    margin: 0 2px;
    border-radius:4px;
    cursor: default;
}

.letter.space {
    background-color: white;
}

.section {
    padding: 0 0 20px;
    margin:  20px 30px;
}

.section__heading {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 25px 0;
}

/* package */

.package__item-rate {
    color: var(--primary-color);
    font-size: 2.0rem;
}



