/* header  */

.header__wrapper {
    background-color: rgb(51,51,51);
    display:flex;
    height: inherit;
    position: fixed;
    height:var(--height-header);
    top:0;
    right:0;
    left:0;
    z-index: 5;
    padding: 16px;
}

.header {
    justify-content: space-between;
    display:flex;
    width: 100%;
}

.nav {
    padding: 0;
    list-style: none;
    align-items: center;
    display:inline-flex;
}

.header__logo {
    display: flex;
    font-weight: 700;
    cursor: pointer;
}
.header__logo-text {
    font-size: 2.5rem;
    margin:auto;
    color:var(--white-text);
}

.header__logo-text span {
    color:var(--primary-color);
}


.nav__link {
    font-size: 2.0rem;
    margin: 0 8px;
    color:var(--white-text);
    font-weight: 600;
}

.nav__link:hover {
    color:var(--primary-color);
}

.nav__icons {
    display:flex;
    align-items: center;
    justify-content: center;
}

.nav__icons--menu {
    display:none;
    margin-left: 40px;
}

.nav__icon.nav__icon--no-hover {
    cursor: default;
}



.nav__icon {
    font-size: 2.6rem;
    margin: 0 10px;
    color:var(--white-text);
    cursor: pointer;
}

.nav__icon--menu {
    border: 1px solid var(--white-text);
    margin: 0; 
    padding: 5px 10px;
    border-radius: 4px;
}

.nav__icon--hover:hover {
    color:var(--primary-color);
}

.nav__searchbar {
    position: fixed;
    top:0;
    height: var(--height);
    right:0;
    left:0;
    display:flex;
    align-items: center;
    padding: 15px 20px;
    background-color: rgb(51,51,51);
    border-top: 1px solid #777777;
    transform: translateY(100%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}




.active:checked ~ .nav__searchbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.input {
    flex: 1;
    padding: 10px;
    outline:none;
    border-radius: 4px;
    border:none;
    font-size: 1.8rem;
}

/* login */







.login__overlay {
    transform: translateY(-100%);
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    z-index:2;
}



.login__form {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -400%);
    background-color: var(--white-background);
    padding: 15px 20px;
    border-radius: 4px;
    margin: 0 20px;
    z-index:3;
    max-width:500px;
    min-width:250px;
}

#login__section:checked ~ .login__overlay {
    transform: translateY(0);
}

#login__section:checked ~ .login__form {
    transform: translate(-50%, -50%);
}

.login__heading {
    --height:30px;
    font-size:var(--height);
    line-height: var(--height);
    text-align:center;
    margin : 10px 0;
}

.login__input {
    width:100%;
    padding: 10px;
    margin: 6px 0;
    outline: none;
    font-size:1.6rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.login__input:focus {
    border: 1px solid var(--primary-color);
}

.remember__check {
    margin: 20px 0;
}

.login__checkbox-sub {
    font-size: 1.5rem;
    margin-left: 2px;
}

.login__text {
    font-size: 1.5rem;
    color: var(--grey-text);
    margin: 10px 0;
}

.login__text span {
    color:var(--primary-color);
    margin-left: 4px;
}

.login__text span:hover {
    color:var(--primary-color);
    color: var(--black-text);
    text-decoration: underline;
    cursor: pointer;
}




/* slider */

.slider {
    position: relative;
    height:504px;
    margin: 30px 0;
}

.slider__content {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: var(--white-text);
    text-align: center;
}

.slider__img {
    width:100%;
    height:100%;
}

.slider__img--mobile,
.slider__img--tablet {
    display:none;
    width:100%;
    height:100%;
}

.slider__heading {
    --heading-content-height:4.5rem;
    font-size: var(--heading-content-height);
    line-height: var(--heading-content-height);
    font-weight: 800;
}

.slider__sub-heading {
    --sub-heading-content-height:2.5rem;
    font-size: var(--sub-heading-content-height);
    line-height: var(--sub-heading-content-height);
    margin: 15px 0;
}

.book-img {
    width:100%;
}

.book-now {
    padding: 20px 0;
}

.book-now__heading {
    --book-now-heading: 2rem;
    font-size: var(--book-now-heading);
    color:var(--grey-text);
    margin: 10px;
}

.book-now__input {
    padding: 10px;
    width:100%;
    outline:none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
    overflow:hidden;
    color:var(--black-text);
}

.input-box {
    padding: 15px 0;
}

.book-now__form {
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
    padding: 35px 20px;
}

/* package */


.package__img {
    width:100%;
    display:block;
    height: 256px;
}

.package__item {
    margin-top: 20px;
}

.package__item-wrapper {
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
}


.package__content {
    padding: 0 20px 20px;
}


.package__item-heading {
    font-size: 2.0rem;
}

.package__item-icon {
    color: var(--primary-color);
}

.package__item-des {

    font-size: 1.7rem;
    color: var(--grey-text);
    margin: 10px 0;
}

.package__item-price {
    margin-top: 10px;
}

.package__item-price-full {
    font-size: 2.2rem;
}

.package__item-price-sale {
    font-size: 1.4rem;
    margin-left: 10px;
    text-decoration: line-through;
    color:var(--grey-text);
}

/* service */

.service__item-wrapper {
    text-align:center;
    padding: 20px;
    cursor: pointer;
}

.service__item-wrapper:hover {
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
}

.service-icon {
    font-size: 5.0rem;
    color: var(--primary-color);
}

.service__heading {
    font-size: 2.5rem;
}

.service__des {
    font-size: 1.4rem;
    color: var(--grey-text);
    margin:0;
}

/* gallery */

.gallery__img {
    width: 100%;
    display:block;
    min-height: 246px;
}

.gallery__item-wrapper {
    padding: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
    margin-top: 20px;
    position :relative
}

/* gallery animation */



.gallery__overlay {
    text-align:center;
    position: absolute;
    top :0;
    left:0px;
    width:100%;
    height: 100%;
    display:flex;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    background-clip: content-box;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.gallery__item-wrapper:hover .gallery__overlay {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.gallery__overlay-wrapper {
    margin:auto;
    padding: 10px;
}

.gallery__overlay-heading {
    font-size: 2.5rem;
    color:var(--primary-color);
    margin: 0;
    cursor: default;
}

.gallery__overlay-des {
    font-size: 1.5rem;
    color: var(--white-text);
    margin: 0;
    padding: 5px 0;
    margin-top: 5px;
    cursor: default;
}

/* comment */

.comment__img {
    width : 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.comment__heading {
    font-size: 2.5rem;
    margin:0;
}

.comment__des {
    font-size:1.5rem;
    padding: 15px 0;
    color:var(--grey-text);
}

.comment__item {
    text-align: center;
}

.comment__item-wrapper {
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
    padding: 20px 10px;
}

/* contact */

.contact__img {
    width:100%;
}

.contact-item {
    display:flex;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
}

.contact__form {
    width:100%;
    height: 393px;
    margin:auto 0;
    padding: 20px
}

.contact__input--message {
    height: 150px;
}

.contact__input {
    width: 100%;
    margin: 10px 0;
    padding:10px;
    outline:none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size:1.5rem;
}

/* footer */

.contact__input--message {
    display:block;
}

.slider-2__img {
    width:100%; 
}


.footer {
    background:rgb(51,51,51);
}

.footer__item-heading {
    font-size: 2.5rem;
    font-weight: 700;
    color:var(--white-text);
    padding: 7px 0;
}

.footer__item-text {
    line-height: 1.0rem;
    font-size: 1.5rem;
    color:var(--white-text);
}

.footer__category-list {
    padding: 0;
    list-style: none;
}

.footer__item-link {
    color:var(--white-text);
    font-size: 1.5rem;
}

.footer__item {
    margin: 10px 0;
}
.footer__item-link:hover {
    color:var(--primary-color);
    text-decoration: underline;
}

.author {
    padding: 20px 10px;
    margin-top: 10px;
    border-top: 1px solid #777777;
    text-align:center
}

.author__signed {
    color:var(--white-text);
}

.author__name {
    color:var(--primary-color);
}